package solution

func init() {
	Solutions[{{.Num}}] = new(Day{{.Num}})
}

type Day{{.Num}} struct{}

func (d *Day{{.Num}}) Part1(input []byte) string {
	return ""
}

func (d *Day{{.Num}}) Part2(input []byte) string {
	return ""
}
